<nav class="header navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand white">Test for GAP</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a (click)="carList()"
         [class.active]="router.url.startsWith('/car-list')"
         class="nav-item nav-link link active" >Car list</a>
      <a *ngIf="router.url.startsWith('/some-car')"
         class="nav-item nav-link active">Some car</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/cristiancpl" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.facebook.com/cristiancamiloperezlopez" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
  </div>
</nav>
