<div class="row">
  <div class="col-md-6 col-sm-12 top">
    <h3>Available models</h3>
  </div>
  <div class="col-md-6 col-sm-12 top">
    <mat-form-field>
      <input matInput #filterValue (keyup)="applyFilter()" placeholder="Search by brand">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilter()">
        <mat-icon>close</mat-icon>
      </button>
      <i matPrefix class="fa fa-search fa-lg search"></i>
    </mat-form-field>
  </div>
  <div *ngFor="let car of cars" class="col-md-3 col-sm-5 col-xs-6">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': getAvatar(car.pictures[0])}">
        </div>
        <mat-card-title>{{car.model}}</mat-card-title>
        <mat-card-subtitle>{{car.brand}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           (click)="view(car.id)"
           src="{{car.pictures[1]}}"
           class="link"
           matTooltip="Details..."
           matTooltipPosition="above"
           alt="{{car.model}}">
      <mat-card-content>
        <h6>{{car.model}}</h6>
        <p>Price: {{car.price | currency}}</p>
        <p>Year: {{car.year}}</p>
      </mat-card-content>
      <mat-card-actions>
        <mat-checkbox class="button">Select</mat-checkbox>
        <button mat-button (click)="view(car.id)" class="button details">Details...</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
