.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.search {
  margin-right: 10px;
}

.card {
  max-width: 400px;
  margin-bottom: 20px;
}

.header-image {
  background-size: cover;
}

.button {
  margin: 10px;
}

.details {
  top: -4px;
}

.compare {
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
}
